/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  /* Navigation Bar */
  nav {
    background-color: #141414;
    color: #fce40e;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav h1 {
    color: #fff;
    font-size: 24px;
  }
  
  nav .logo-img {
    width: 50px; /* Adjust the size of your logo */
    height: auto;
    margin-right: 20px;
  }
  
  nav .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Home Section (Welcome) */
  #home {
    background-color: #333;
    color: white;
    padding: 100px 0;
    text-align: center;
  }
  
  #home h2 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  #home p {
    font-size: 1.5em;
    margin-bottom: 30px;
  }
  
  .cta-btn {
    background-color: #fff;
    color: #333;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
  }
  
  .cta-btn:hover {
    background-color: #f4f4f4;
  }
  
  /* Sections */
  section {
    padding: 50px 0;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  /* Contact Information */
  .contact-info {
    margin-bottom: 30px;
  }
  
  .contact-info ul {
    list-style: none;
    padding: 0;
  }
  
  .contact-info li {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .contact-info a {
    color: #333;
    text-decoration: none;
  }
  
  .contact-info a:hover {
    color: #007bff;
  }
  
  /* Project Cards */
  .project-cards {
    display: flex;
    justify-content: space-between;
  }
  
  .project-card {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
  }
  
  .project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .project-card h3 {
    font-size: 1.5em;
    margin-top: 10px;
  }
  
  /* Contact Form */
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    font-size: 1.1em;
    margin-bottom: 5px;
  }
  
  form input, form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #555;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  